<li>
<h1>{{name}}</h1>
<img class="img" src={{flag}}>
<h2>Capital: {{capital}}</h2>
<h2>Population: {{population}}</h2>
<h2>Languages:</h2>
<ul>
    {{#each languages}}
    <li>{{this.name}}</li>
    {{/each}}
</ul>
</li>